@{
    ViewData["Title"] = "Artista";
}

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            @foreach (var item in ViewBag.cat)
            {
                <div class="col">
                    <div class="card shadow-sm">
                       <img src="@item.Image" class="card-img/top"/>
                        <div class="card-body">
                            <h5 class="card-title">@item.Nombre</h5>
                            <p class="card-text"><b>Nombre: </b>@item.Nombre</p>
                            <p class="card-text"><b>Fuente: </b><a href="@item.Fuente">Click Aqui</a></p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div> 
</div>